body {
  background-color: rgb(240, 248, 255);
  font-family: 'Lato', sans-serif;
}
.grid-element a:visited, .grid-element a:link, .grid-element a:active{
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
}

.grid-element a:hover {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
}

.grid-element {
  padding: 0px;
  border: 1px solid transparent;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid transparent;
  padding: 8px;
}

.activity-row:nth-child(even){background-color: rgb(240, 248, 255);}
.activity-row:hover {background-color: rgb(209, 250, 254);}

.route-row:nth-child(even){background-color: rgb(255, 255, 255);}

th {
  position: sticky;
  top: -0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(209, 250, 254);
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif; 	  
  font-size: 30px;
  font-weight: bold;
}

td {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

img {
  max-width: 4032px;
  max-height: 2198px;
  width: 75%;
}