<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/stylesheets/activities.css"> 
   </head>
   <body>
      <div class="container">
         <div class="topnav">
            <a href="./home">Home</a>
            <a href="./activities">Activities</a>
         </div>
      </div>
      <div class="grid-container">
         <div class="grid-element">
            <table >
               <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Distance (mi)</th>
                  <th scope="col">Time</th>
                  <th scope="col">AvgSpeed (mph)</th>
                  <th scope="col">Route</th>
               </tr>
               {{ range . }}
               <tr>
                  <td><a href={{.Link}}>{{.Date}}</a></td>
                  <td><a href={{.Link}}>{{.Distance}}</a></td>
                  <td><a href={{.Link}}>{{.Time}}</a></td>
                  <td><a href={{.Link}}>{{.AvgSpeed}}</a></td>
                  <td><img src={{.Route}} alt="Image" /></td>
               </tr>
               {{ end }}
           </table>
         </div>
      </div>
   </body>
</html>
