<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
         <title>Welcome {{.Name}}</title>
   </head>
   <body>
      <header>
         <div class="welcome center">Welcome {{.Name}}, it is {{.Time}}</div>
      </header>

      <section>
         <nav>
            <ul>
               <li><a href="#">Day One</a></li>
               <li><a href="#">Day Two</a></li>
               <li><a href="#">Day Three</a></li>
            </ul>
         </nav>
         <article>
            <h1>Day One</h1>
            <img src="/static/stylesheets/images/dayone.jpg" alt="Day One" />
            <p>Distance: 32.98</p>
            <p>Time: 2:51:44</p>
            
            <h1>Day Two</h1>
            <img src="/static/stylesheets/images/dayone.jpg" alt="Day Two" />
            <p>Distance: 32.98</p>
            <p>Time: 2:51:44</p>
            
            <h1>Day Three</h1>
            <img src="/static/stylesheets/images/dayone.jpg" alt="Day Three" />
            <p>Distance: 32.98</p>
            <p>Time: 2:51:44</p>
         </article>
   </body>
</html>